body
{
  background-color:rgba(20,20,41,255);
}
.all
{

  width: 100%;
  height: 250px;
  display: flex;
  position: relative;
}

.p1,
.p2,
.p3,
.p4,
.p5
{
  flex: 1;
  /* border: 1px white solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.pic 
{
  width: 30px;
  border-radius: 20px;
  margin-left: 5px;
}
.bt1
{
  display: flex;
  width: 90%;
  align-items: center;
  border-radius: 10px;
  border: 1px white solid;
  background-color: rgba(75,75,91,255);
  height: 15%;

}
.namee
{
  color: white;
  font-size: 10px;
  margin-left: 5px;
}
.pic2
{
  width: 60%;
  height: 50%;
  border-radius: 20px;
  font-family: arial;
  border: 2px white solid;
}
.arow1
{
  position: absolute;
  border-top: 2px white solid;
  border-right: 2px white solid;
  border-bottom: 2px white solid;
  height: 60px;
  width: 12%;
  top: 20.5%;
  left: 17%;
  border-radius: 20px;
  z-index: -1;
}
.arow2
{
  position: absolute;
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-bottom: 2px white solid;
  height: 60px;
  width: 12%;
  top: 20.5%;
  right: 15%;
  border-radius: 20px;
  z-index: -1;
}
.arow3
{
  position: absolute;
  border-bottom: 2px white solid;
  height: 60px;
  width: 12%;
  top: 17.5%;
  right: 35%;
  z-index: -1;
}
.arow4
{
  position: absolute;
  border-bottom: 2px white solid;
  height: 60px;
  width: 12%;
  top: 17.5%;
  left: 35%;
  z-index: -1;
}
.pics
{
  width: 50px;
  height: 50px;
  border-radius: 20px;
  font-family: arial;
  position: absolute;
}
.namee1
{
  color: white;
  font-size: 15px;
  margin-left: 5px;
  position: absolute;
  top: 60%;
  width: 10%;
  text-align: center;
  color: white;
}
.titel
{
  width: 100%;
  /* position: absolute; */
  display: flex;
  align-items: center;
}
.titel
{
  display: flex;
  flex: 1;
}
.buot
{
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exit
{
  background-color: rgba(74,75,91,255);
  border: none;
  border-radius: 50px;
}
.exit1
{
  width: 15px;
  height: 20px;
}
.esc
{
  color: white;
  margin-top: 0px;
  font-size: 10px;
  font-family: arial;
  text-align: center;
}
.titlee
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}
.titlee1
{
  font-family: arial;
  font-weight: 20px;
}

.tournaments
{
  /* background-color: red; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 10px;
  font-family: arial;
}
.gg
{
  width: 30%;
  height: 100px;
  object-fit: cover;
  border: 2px white solid;
  border-radius: 20px;
}